﻿@using sqportal.Controllers.API
@model IEnumerable<sqportal.DAL.Models.ApplicationRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>
@Html.ActionLink("Create role", "Create", "Roles")
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                @Html.RouteLink("Api_UserListByRole", "Api", new { controller = "UserAdminData", action = "UserListByRole", roleId = item.Id, httproute = "true" })

            </td>
        </tr>
    }
</table>