﻿@model IEnumerable<sqportal.Models.Models.PersonAccountModel>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @Html.ActionLink("Edit User", "UserEdit", "Test", new { id = item.ID }, null)
            </td>
            <td>
                @Html.RouteLink("Api Data", "Api", new { controller = "useradmindata", action = "UserEdit", id = item.ID, httproute = "true" })
            </td>
            <td>
                @Html.ActionLink("User Roles", "UserRoles", "Account", new { email = item.Email }, null)
            </td>
            <td>
                @using (Html.BeginRouteForm("Api", new { controller = "UserAdminData", action = "UserDelete", httproute = "true", id = item.ID }))
                {
                    <p><input type="submit" value="Delete" /></p>
                }
            </td>
        </tr>
    }
</table>
