﻿@model sqportal.Models.Models.EditPersonAccountModel

@{
    ViewBag.Title = "UserEdit";
}

<h2>User Edit</h2>

@using (Html.BeginRouteForm("Api", new { controller = "UserAdminData", action = "UserEdit", httproute = "true" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.PersonAccount.ID)
        @Html.HiddenFor(model => model.PersonAccount.UserIdentityID)
        <p>First Name:  @Html.EditorFor(model => model.PersonAccount.FirstName)</p>
        <p>Last Name:  @Html.EditorFor(model => model.PersonAccount.LastName)</p>
        <p>Email:  @Html.EditorFor(model => model.PersonAccount.Email)</p>
        <p> @Html.EditorFor(model => model.Roles)</p>
        <p><input type="submit" value="Edit" /></p>
    </div>
}
