﻿@model sqportal.Models.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Registration</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(false)

        <p>
            <label>Email</label><br />
            @Html.EditorFor(model => model.Email)
        </p>
        <p>
            <label>Birth day</label><br />
            @Html.EditorFor(model => model.Year)
        </p>
        <p>
            <label>Password</label><br />
            @Html.EditorFor(model => model.Password)
        </p>
        <p>
            <label>Confirm password</label><br />
            @Html.EditorFor(model => model.PasswordConfirm)
        </p>
        <p><button type="submit">Register</button></p>
    </div>
}