﻿@model sqportal.Models.Models.UserViewModel

@{
    ViewBag.Title = "User Roles";
}

<h2>User Roles</h2>

<table class="table">
    <tr>
        <th>@Model.Email</th>
        <th></th>
    </tr>

    @foreach (var role in Model.RoleList)
    {
        <tr>
            <td>
                @role
            </td>
        </tr>
    }
</table>
